# Server Port
PORT=4001

# Base URI untuk akses file yang sudah diupload
APP_URI=http://localhost

# Full URL untuk public file yang diupload
UPLOAD_URI=http://localhost:4001

# Origins yang diizinkan untuk CORS (pisahkan dengan koma jika lebih dari satu)
ALLOWED_ORIGINS=http://localhost:3000

# Batas maksimum file upload dalam MB
MAX_FILE_SIZE=50

# MIME types yang diizinkan, kosong berarti default: images, pdf, mp4 ect
MIME_TYPE_ALLOWED=image/jpeg,image/png,application/pdf,video/mp4

# API Key untuk mengakses endpoint upload
UPLOAD_API_KEY=2E1tJE9M3fd8J6YymKNq4ze9hJXn0anY

RATE_LIMIT_MAX=25
RATE_LIMIT_WINDOW_MINUTES=1
DOCKER_NETWORK_NAME=