# Dependency folders
node_modules/
jspm_packages/

# Environment variables
.env
.env.local
.env.*.local

# Uploads & Public assets
# Kita abaikan isinya, tapi folder public-nya sendiri tetap ada
/public/*
!/public/.gitkeep

# REST Client (VS Code Extension)
# Mengabaikan semua file request
*.http
*.rest
# Mengabaikan folder jika ekstensi membuat folder output (misal: .rest-client)
.rest-client/
responses/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Lock files
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock*